Practice/webhook-mastery/webhook-mastery-final.json
{
    "name": "Webhook Mastery: Inspirational Quotes API",
    "nodes": [
        {
            "parameters": {
                "path": "b06af06e-eed2-4404-bace-cee76799904a",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                320,
                0
            ],
            "id": "8becd67c-d339-4c65-ae18-d13c677d2b98",
            "name": "Webhook",
            "webhookId": "b06af06e-eed2-4404-bace-cee76799904a"
        },
        {
            "parameters": {
                "url": "https://zenquotes.io/api/random",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                528,
                0
            ],
            "id": "9afd4144-222e-473d-83eb-62c9d5c259a5",
            "name": "HTTP Request"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "0b049900-2050-4634-80be-76c024d8bec4",
                            "name": "quotes",
                            "value": "={{ $json.q }} - {{ $json.a }} ",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                736,
                0
            ],
            "id": "8939c7d4-3562-4c2d-89a3-c7cf92dc65c0",
            "name": "Edit Fields"
        },
        {
            "parameters": {
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "content-Type",
                                "value": "application/json"
                            }
                        ]
                    }
                },
                "responseBody": "={{ $json.quotes }}"
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.5,
            "position": [
                944,
                0
            ],
            "id": "a045dd1b-2dc4-4836-8f88-d2f82b74df1f",
            "name": "Respond to Webhook"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "HTTP Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HTTP Request": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "08f731f92ccc8a5c5da3db6ecfae52595f2e0a818d4d668579fc375e3f9539a9"
    }
}