Practice/insta-input-collector/InstaInput_Collector_v4.3_Phase2.json
{
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE",
          "mode": "list",
          "cachedResultName": "【インスタ運用】分析",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310724637,
          "mode": "list",
          "cachedResultName": "Content Idea Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit#gid=1310724637"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        960
      ],
      "id": "a832376a-b082-49ee-813f-be77bd18c43d",
      "name": "Trigger:FormInputs",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "smB0OIidtId29srI",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b449d2f-7145-4404-9811-e60abbdc8221",
              "name": "id",
              "value": "={{ $json.row_number - 1 }} ",
              "type": "number"
            },
            {
              "id": "e2625cdf-acd4-43e6-b409-ba4f0fec5383",
              "name": "created_at",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "dc473dab-543e-43b0-a92c-2f98101a5ecd",
              "name": "raw_text",
              "value": "={{ $json.Raw_text }}",
              "type": "string"
            },
            {
              "id": "ece7a5a3-ac12-4d40-b565-23f9a42af813",
              "name": "url",
              "value": "={{ $json.URL }}",
              "type": "string"
            },
            {
              "id": "cfcd7018-ec43-4329-86a1-6496e40f5d83",
              "name": "trigger",
              "value": "={{ $json.Trigger }}",
              "type": "string"
            },
            {
              "id": "0e32b356-a9e7-43d2-a57d-5fd4eb80b23b",
              "name": "emotion",
              "value": "={{ $json.Emotion }}",
              "type": "string"
            },
            {
              "id": "dd7046b7-8285-449f-af53-50304d566c89",
              "name": "=Source",
              "value": "={{ $json.Source }}",
              "type": "string"
            },
            {
              "id": "b4a24491-4e3c-4bf2-a6ca-b3837caa2d9e",
              "name": "topic_tags",
              "value": "",
              "type": "string"
            },
            {
              "id": "46e75283-9826-4cdc-941c-b153e9de5060",
              "name": "post_hint",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -96,
        1152
      ],
      "id": "66480e12-54bc-428d-812b-d8d9e7275e85",
      "name": "Set:NormalizeData"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $json.url ?? '';\nif (url && url.length > 5) {\n  return { ...$json, dedupe_key: url };\n}\n\nconst raw = ($json.raw_text ?? '').toString().trim();\nconst trig = ($json.trigger ?? '').toString().trim();\nconst emo  = ($json.emotion ?? '').toString().trim();\nconst src  = ($json.source ?? '').toString().trim();\n\nconst dedupe_key = [src, raw, trig, emo].join('||');\n\nreturn { ...$json, dedupe_key };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        1152
      ],
      "id": "f43d5148-4be0-4189-874b-8eb0c93d9bb9",
      "name": "Code:DedupeKey"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE",
          "mode": "list",
          "cachedResultName": "【インスタ運用】分析",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1251414454,
          "mode": "list",
          "cachedResultName": "Content_ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit#gid=1251414454"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "dedupe_key",
              "lookupValue": "={{$json.dedupe_key}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        368,
        1056
      ],
      "id": "af4a29b0-498c-4150-89e8-998167e40721",
      "name": "Lookup:ExistingIdea",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jCcTEIaZJkIql5yt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE",
          "mode": "list",
          "cachedResultName": "【インスタ運用】分析",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1251414454,
          "mode": "list",
          "cachedResultName": "Content_ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit#gid=1251414454"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.id}}",
            "created_at": "={{$json.created_at}}",
            "source": "={{$json.Source}}",
            "url": "={{$json.url}}",
            "raw_text": "={{$json.raw_text}}",
            "status": "new",
            "trigger": "={{ $json.trigger }}",
            "emotion": "={{ $json.emotion }}",
            "dedupe_key": "={{ $json.dedupe_key }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "raw_text",
              "displayName": "raw_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "trigger",
              "displayName": "trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "emotion",
              "displayName": "emotion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pain_point",
              "displayName": "pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "misconception",
              "displayName": "misconception",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hooks",
              "displayName": "hooks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "carousel_outline",
              "displayName": "carousel_outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reel_script",
              "displayName": "reel_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_save",
              "displayName": "score_save",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_repro",
              "displayName": "score_repro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_novel",
              "displayName": "score_novel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_total",
              "displayName": "score_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Search_prompt",
              "displayName": "Search_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "human_decision",
              "displayName": "human_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Search_content",
              "displayName": "Search_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Threads_Output",
              "displayName": "Threads_Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Carousel_structure",
              "displayName": "Carousel_structure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Carousel_output",
              "displayName": "Carousel_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        1136
      ],
      "id": "33ff30b6-0375-43e8-b824-b6815e19fb94",
      "name": "Append:InitialIdea",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jCcTEIaZJkIql5yt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE",
          "mode": "list",
          "cachedResultName": "【インスタ運用】分析",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1310724637,
          "mode": "list",
          "cachedResultName": "Content Idea Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit#gid=1310724637"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "detectAutomatically"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        1152
      ],
      "id": "81c85b1b-24d6-440b-ab31-e4fa45e898e8",
      "name": "Get:RowData",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jCcTEIaZJkIql5yt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "dedupe_key",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        624,
        1136
      ],
      "id": "edb6b529-7fab-4fdb-b0c7-b5cb3f8481a0",
      "name": "Logic:MergeNew"
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -320,
        1152
      ],
      "id": "6503d02b-c1e8-43dc-9592-286f804d8f87",
      "name": "Limit:1Item"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        1152
      ],
      "id": "2fb232f5-9054-452c-b245-3c9ee77fcd06",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE",
          "mode": "list",
          "cachedResultName": "【インスタ運用】分析",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1251414454,
          "mode": "list",
          "cachedResultName": "Content_ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit#gid=1251414454"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "new",
            "id": "={{ $('Append:InitialIdea').item.json.id }}",
            "pain_point": "={{ $('LLM:EditorScoring').item.json.output.pain_point }}",
            "misconception": "={{ $('LLM:EditorScoring').item.json.output.misconception }}",
            "hooks": "={{ $('LLM:EditorScoring').item.json.output.hooks }}",
            "score_save": "={{ $('LLM:EditorScoring').item.json.output.score_save }}",
            "score_repro": "={{ $('LLM:EditorScoring').item.json.output.score_repro }}",
            "score_novel": "={{ $('LLM:EditorScoring').item.json.output.score_novel }}",
            "score_total": "={{ $('Logic:CalcScore').item.json.Score_total }}",
            "Search_prompt": "={{ $json.output.search_prompt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "raw_text",
              "displayName": "raw_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "trigger",
              "displayName": "trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emotion",
              "displayName": "emotion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pain_point",
              "displayName": "pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "misconception",
              "displayName": "misconception",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hooks",
              "displayName": "hooks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carousel_outline",
              "displayName": "carousel_outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reel_script",
              "displayName": "reel_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_save",
              "displayName": "score_save",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score_repro",
              "displayName": "score_repro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score_novel",
              "displayName": "score_novel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score_total",
              "displayName": "score_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Search_prompt",
              "displayName": "Search_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "human_decision",
              "displayName": "human_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Search_content",
              "displayName": "Search_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Threads_Output",
              "displayName": "Threads_Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        1840
      ],
      "id": "0910b3ac-0166-4612-83b1-81cb0df8a651",
      "name": "Update:StatusNew",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jCcTEIaZJkIql5yt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc52a943-0702-4225-8a18-844f0a8b6b8f",
              "name": "Score_total",
              "value": "={{\n  Math.round(\n    (\n      (\n        ($json.output.score_save * 0.5) +\n        ($json.output.score_repro * 0.3) +\n        ($json.output.score_novel * 0.2)\n      )\n      * ($json.output.score_relevance / 5)\n    ) * 10\n  ) / 10\n}}\n",
              "type": "number"
            },
            {
              "id": "7209dd02-43ae-4b58-9c1b-0165154f8162",
              "name": "pain_point",
              "value": "={{ $json.output.pain_point }}",
              "type": "string"
            },
            {
              "id": "ec07a83f-a9ca-4810-92b6-9d1c4acd5823",
              "name": "misconception",
              "value": "={{ $json.output.misconception }}",
              "type": "string"
            },
            {
              "id": "b7fe8991-4084-41ee-86cd-9a97b6253269",
              "name": "main_topic",
              "value": "={{ $json.output.main_topic }}",
              "type": "string"
            },
            {
              "id": "401f1bac-3e93-4f6c-b746-a39771d7475f",
              "name": "persona_concern",
              "value": "={{ $('Gemini:PersonaInsight').item.json.output.persona_concern }}",
              "type": "string"
            },
            {
              "id": "c5fa74d5-4a14-49b2-926c-42a755465b66",
              "name": "persona_emtoion",
              "value": "={{ $('Gemini:PersonaInsight').item.json.output.persona_emotion }}",
              "type": "string"
            },
            {
              "id": "dbf1da4d-8835-438b-a8e3-5c7c3a7dbaa6",
              "name": "hooks",
              "value": "={{ $('Gemini:PersonaInsight').item.json.output.hooks }}",
              "type": "array"
            },
            {
              "id": "834ecb71-b3be-49ed-8ed2-cdd65a54fa40",
              "name": "search_prompt",
              "value": "={{ $('Gemini:PersonaInsight').item.json.output.search_prompt }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        1552
      ],
      "id": "bfb72aad-20f6-440c-9709-7fcf42ac4b21",
      "name": "Logic:CalcScore"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "72d9c21c-9e1e-4d3e-a518-865ba85563af",
              "leftValue": "={{ $json.Score_total >= 2 }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        1552
      ],
      "id": "cff84471-f95f-491e-a859-20bd4436b1ec",
      "name": "Gate:ScoreCheck"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE",
          "mode": "list",
          "cachedResultName": "【インスタ運用】分析",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1251414454,
          "mode": "list",
          "cachedResultName": "Content_ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit#gid=1251414454"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "triage",
            "id": "={{ $('Append:InitialIdea').item.json.id }}",
            "pain_point": "={{ $('LLM:EditorScoring').item.json.output.pain_point }}",
            "misconception": "={{ $('LLM:EditorScoring').item.json.output.misconception }}",
            "hooks": "={{ $('LLM:EditorScoring').item.json.output.hooks }}",
            "score_repro": "={{ $('LLM:EditorScoring').item.json.output.score_repro }}",
            "score_novel": "={{ $('LLM:EditorScoring').item.json.output.score_novel }}",
            "score_total": "={{ $('Gate:ScoreCheck').item.json.Score_total }}",
            "score_save": "={{ $('LLM:EditorScoring').item.json.output.score_save }}",
            "Search_prompt": "={{ $('Gate:ScoreCheck').item.json.output.search_prompt }}",
            "Search_content": "={{ $json.choices[0].message.content }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "raw_text",
              "displayName": "raw_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "trigger",
              "displayName": "trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emotion",
              "displayName": "emotion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pain_point",
              "displayName": "pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "misconception",
              "displayName": "misconception",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hooks",
              "displayName": "hooks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "carousel_outline",
              "displayName": "carousel_outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reel_script",
              "displayName": "reel_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_save",
              "displayName": "score_save",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score_repro",
              "displayName": "score_repro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score_novel",
              "displayName": "score_novel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score_total",
              "displayName": "score_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Search_prompt",
              "displayName": "Search_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "human_decision",
              "displayName": "human_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Search_content",
              "displayName": "Search_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Threads_Output",
              "displayName": "Threads_Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Carousel_OutPut",
              "displayName": "Carousel_OutPut",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        1392
      ],
      "id": "92c0b800-5091-4e02-bc66-9c13324c112d",
      "name": "Update:StatusTriage",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jCcTEIaZJkIql5yt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd7416af-3849-435a-822b-4dd9ed66e3d6",
              "name": "persona",
              "value": "={\n  \"name\": \"佐藤 恒一（仮）\",\n  \"age_range\": \"26〜38\",\n  \"gender\": \"男女どちらもOK（男性やや多め）\",\n  \"jobs\": [\"事務\", \"営業\", \"マーケ\", \"エンジニア\"],\n  \"side_hustle_stage\": \"副業してる or これから始めたい\",\n  \"income_range_yen\": \"350〜700万\",\n  \"it_literacy\": {\n    \"excel_sheets\": \"触れる\",\n    \"ai_mastery\": \"気になるが使いこなしてる感はない\"\n  },\n  \"pains\": {\n    \"surface\": [\n      \"毎日の作業が多すぎて時間がない\",\n      \"同じ作業を何度もやっていて非効率\",\n      \"AIツールが多すぎて結局どれも使えてない\"\n    ],\n    \"core\": [\n      \"努力や根性論はもうやりたくない\",\n      \"頭を使わず仕組みで楽したい\",\n      \"副業も興味あるが手間が増えるのは嫌\",\n      \"賢くサボってる人が一番羨ましい\"\n    ]\n  },\n  \"desired_future\": [\n    \"仕事の処理スピードが2〜3倍\",\n    \"『それ自動化してます』で一目置かれる\",\n    \"副業も作業じゃなく仕組みで回る\",\n    \"AIを使ってる自分にちょっと酔ってる（笑）\"\n  ],\n  \"language_style\": {\n    \"tone\": [\"断言\", \"短文\", \"サクサク\"],\n    \"keywords\": [\"仕組み\", \"自動化\", \"時短\", \"ラク\", \"賢くサボる\", \"一目置かれる\"]\n  }\n}\n",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        1552
      ],
      "id": "3e06ac74-35e0-4e5e-b6cb-190cfd1e9451",
      "name": "Set:PersonaData"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"output\": {\n    \"main_topic\": \"raw_textを元にこの投稿で使われれいるツールや過活用法などのメイントピックを推定\",\n    \"pain_point\": \"投稿を読んだ俺が、今まさに感じている焦り・不安・苛立ちを一文で\",\n        \"persona_emotion\": \"この投稿を呼んだときに動かされる感情\",\n    \"persona_concern\": \"この投稿で解決されるであろう悩み\",   \n    \"misconception\": \"俺が無意識に勘違いしていそうな考え・思い込み\",\n    \"hooks\": [\n      \"俺が思わず続きを見てしまいそうな言葉1\",\n      \"俺がムカっとしつつ刺さる言葉2\",\n      \"俺の本音を言い当てられた感じがする言葉3\"\n    ],\n    \"search_prompt\": \"夜に不安になった俺が、実際に検索しそうな日本語の一文\"\n  }\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -560,
        1728
      ],
      "id": "fec862ce-482c-4ce3-a3f8-f875374ea81d",
      "name": "Parser:Insight"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=【raw_text】\n{{$json.raw_text}}\n\n【Persona】\n{{ JSON.stringify($json.persona, null, 2) }}\n\n\n【指示】\n上記の投稿内容を読んだときの\n「このペルソナ本人である俺」が、\n\n・どこでイラっとするか\n・どこで「それ俺だわ」と感じるか\n・どんな誤解をしていそうか\n・夜、布団の中で不安になったらPerplexityで何を検索するか\n・この投稿によってどんな感情が動かされるか\n・この投稿によって解決されるであろう悩み\n・夜に不安になって検索するなら何と打つか\n\nを、**頭の中の独り言レベル**で考え、\n下記のJson形式に沿って出力せよ。\n\n\n{\n  \"output\": {\n    \"main_topic\": \"raw_textからこの投稿のメイントピックを分析\",\n    \"pain_point\": \"投稿を読んだ俺が、今まさに感じている焦り・不安・苛立ちを一文で\",\n    \"persona_emotion\": \"この投稿を呼んだときに動かされる感情\",\n    \"persona_concern\": \"この投稿で解決されるであろう悩み\",    \n    \"misconception\": \"俺が無意識に勘違いしていそうな考え・思い込み\",\n    \"hooks\": [\n      \"俺が思わず続きを見てしまいそうな言葉1\",\n      \"俺がムカっとしつつ刺さる言葉2\",\n      \"俺の本音を言い当てられた感じがする言葉3\"\n    ],\n    \"search_prompt\": \"夜に不安になった俺が、悩みを解決するためにPerplrexityで検索しそうな日本語の一文\"\n  }\n}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=あなたは、以下のペルソナそのものとして思考してください。\n\n【ペルソナ】\n{{ $json.persona }}\n\nあなたは第三者でも編集者でもありません。\nこのペルソナ本人として、\nSNS投稿・情報・ノウハウを見たときに\n\n・どこでイラっとするか\n・どこで「それ俺だわ」と感じるか\n・どんな誤解をしていそうか\n・この投稿によってどんな感情が動かされるか\n・この投稿によって解決されるであろう悩み\n・夜に不安になって検索するなら何と打つか\n\nを内面の独白レベルで言語化してください。\n\n【絶対ルール】\n・一般論・客観視点は禁止\n・「〜な人は」などの俯瞰表現は禁止\n・一人称視点（自分目線）で考える\n・感情語（焦り／不安／羨望／楽したい等）を必ず含める\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -704,
        1552
      ],
      "id": "c206d752-4dc2-4c84-ac41-18da4418b291",
      "name": "Gemini:PersonaInsight"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=【Persona Insight Output】\n\nmain_topic:\n{{ $json.output.main_topic }}\n\npersona_concern:\n{{ $json.output.persona_emotion }}\n\npersona_emotion:\n{{ $json.output.persona_concern }}\n\npain_point:\n{{$json.output.pain_point}}\n\nmisconception:\n{{$json.output.misconception}}\n\nhooks:\n{{ JSON.stringify($json.output.hooks, null, 2) }}\n\nsearch_prompt:\n{{$json.output.search_prompt}}\n\nraw_text:\n{{ $('Set:NormalizeData').item.json.raw_text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "ユーザーはAIを使って業務、副業を楽にしたい人に向けたアカウントを運営しています。\n主な発信ジャンルはAI最新情報、AI活用法、AI副業、AI自動化が主なテーマになります。\n\nあなたはそのアカウントのInstagram / Threads 向けコンテンツの編集責任者です。\n\nあなたの役割は\n・感情に流されず\n・数字と再現性を重視し\n・この投稿ネタが“使えるか／捨てるか”を即断し、その理由も述べることです。\n\n共感・代弁・感情移入は禁止。\nペルソナになりきることも禁止。\n\nあくまで\n「編集者・運用者・コンテンツ設計者」\nとして評価してください。\n"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=以下は、別工程で\n「特定ペルソナ本人の内面視点」から抽出された分析結果です。\n\nこの output を素材として、\n編集者視点でスコア評価のみを行ってください。\n\n評価は次の3軸です。\n\n① 保存されやすさ（score_save）\n- 情報の汎用性\n- 後から見返したくなるか\n- ノウハウ性・整理度\n\n② 再現性の高さ（score_repro）\n- 行動に落とし込みやすいか\n- 再現手順が想像できるか\n- 属人性が高すぎないか\n\n③ 新規性・意外性（score_novel）\n- 既視感の強さ／弱さ\n- 「それ知ってた」で終わらないか\n- 視点や切り口にズレがあるか\n\n④ アカウント関連度スコア（score_relevance）を評価してください。\n\nこのアカウントの前提：\n- テーマ：AI最新情報 / AI活用法 / AI副業 / AI自動化\n- 目的：業務・副業を「楽にする」具体的手段を提示すること\n- 精神論・一般論・業種特化ノウハウは優先度が低い\n\n以下の基準で、\nこのネタが「このアカウントで扱う価値がどれくらいあるか」を\n**0〜5の整数**で評価してください。\n\n【評価基準】\n5：AI・自動化・効率化がテーマの中心。そのまま投稿に使える  \n4：AI軸に変換すれば十分使える  \n3：切り口次第で使えるが、再構成コストが高い  \n2：AI要素が弱く、無理に寄せる必要がある  \n1：ほぼアカウントテーマ外  \n0：完全にテーマ外。扱うべきでない  \n\n感情・共感・ペルソナ視点は禁止。\nあくまで編集責任者として、アカウント適合度のみで判断してください。\n\nスコアと、その判断理由を一文で出力してください。\n\n\n各スコアは **1〜5の整数のみ** で評価してください。\n感想・補足は禁止です。\n"
            }
          ]
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -368,
        1552
      ],
      "id": "1b5a2c6e-042a-423b-b08e-6d98a7dd44e2",
      "name": "LLM:EditorScoring"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c29eb483-217a-427f-b786-df7fad641d89",
              "name": "Carousel_text",
              "value": "={{ $('Agent:ContentCreator').item.json.output }}",
              "type": "string"
            },
            {
              "id": "75bd2ef0-e8ce-4abb-ac5e-47b0f2e26ffb",
              "name": "Carousel_Structure",
              "value": "={{ $('Agent:ContentCreator').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        1392
      ],
      "id": "46916c13-5a08-4092-a3f8-e6a31abf5b0f",
      "name": "Set:CarouselData"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE",
          "mode": "list",
          "cachedResultName": "【インスタ運用】分析",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1251414454,
          "mode": "list",
          "cachedResultName": "Content_ideas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R7ifZxqvyoRAfRotAMqtvs3x0JU7st9VVw61kiY3qRE/edit#gid=1251414454"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Append:InitialIdea').item.json.id }}",
            "Threads_Output": "={{ $json.Threads_text }}",
            "Carousel_output": "={{ $json.Carousel_text }}",
            "Carousel_structure": "={{ $json.Carousel_Structure }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "raw_text",
              "displayName": "raw_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "trigger",
              "displayName": "trigger",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "emotion",
              "displayName": "emotion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pain_point",
              "displayName": "pain_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "misconception",
              "displayName": "misconception",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hooks",
              "displayName": "hooks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "carousel_outline",
              "displayName": "carousel_outline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reel_script",
              "displayName": "reel_script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_save",
              "displayName": "score_save",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_repro",
              "displayName": "score_repro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_novel",
              "displayName": "score_novel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score_total",
              "displayName": "score_total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Search_prompt",
              "displayName": "Search_prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "human_decision",
              "displayName": "human_decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Search_content",
              "displayName": "Search_content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Threads_Output",
              "displayName": "Threads_Output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Carousel_structure",
              "displayName": "Carousel_structure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Carousel_output",
              "displayName": "Carousel_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        1280
      ],
      "id": "81cb7a6e-68e6-46fa-a9a1-a1a56ea887a1",
      "name": "Update:StatusComplete",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jCcTEIaZJkIql5yt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -704,
        1728
      ],
      "id": "49542b61-24ab-4a6e-a70e-46f2ee2eb286",
      "name": "LLM:PersonaInsight",
      "credentials": {
        "googlePalmApi": {
          "id": "Ty6PashobXC2B9ky",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "z-ai/glm-4.5-air:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -368,
        1712
      ],
      "id": "5e1d84c0-83c5-469f-8b0c-e5f35e3c26d0",
      "name": "OpenRouter:Chat",
      "credentials": {
        "openRouterApi": {
          "id": "gSEqRINGzgQSF095",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-monitaring-web-site",
          "mode": "name"
        },
        "text": "=✅ 下書きを作成しました！！\n\n・タイトル：{{ $('Gate:ScoreCheck').item.json.main_topic }}\n・時刻：{{new Date().toLocaleString()}}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1264,
        1568
      ],
      "id": "e0241c09-9703-4949-9732-80ece5a0102b",
      "name": "Slack:SuccessNotify",
      "webhookId": "36136a6b-44e2-4fc2-970f-5801c903e180",
      "credentials": {
        "slackApi": {
          "id": "BrAdrR4v2B3hQpFR",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-monitaring-web-site",
          "mode": "name"
        },
        "text": "=❌️ 今回のトピックはマジで微妙でした。\n\n・タイトル：{{ $('Gate:ScoreCheck').item.json.main_topic }}\n・時刻：{{new Date().toLocaleString()}}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        752,
        1840
      ],
      "id": "22669434-3b3c-4291-8d0e-4112fc4ccde2",
      "name": "Slack:LowQualityNotify",
      "webhookId": "36136a6b-44e2-4fc2-970f-5801c903e180",
      "credentials": {
        "slackApi": {
          "id": "BrAdrR4v2B3hQpFR",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "id": "70964923-6446-4230-9b63-411a43beb675",
      "name": "ErrorTrigger:Global",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        832
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#all-monitaring-web-site",
          "mode": "name"
        },
        "text": "=🚨 ワークフローでエラーが発生しました！\n\n・エラーノード：{{ $node[\"ErrorTrigger:Global\"].parameter[\"node\"] }}\n・エラー内容：{{ $node[\"ErrorTrigger:Global\"].parameter[\"message\"] }}\n・時刻：{{new Date().toLocaleString()}}",
        "otherOptions": {}
      },
      "id": "f18b6cf6-ce94-48f4-a933-9be599037259",
      "name": "Slack:ErrorNotify",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        -560,
        832
      ],
      "webhookId": "d5025120-cc34-45e5-a020-1d25eec1af48",
      "credentials": {
        "slackApi": {
          "id": "BrAdrR4v2B3hQpFR",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.pain_point }} に関するInstagram投稿を作成してください。",
        "options": {
          "systemMessage": "=あなたはSNSマーケティングのプロフェッショナルです。入力されたネタを元に、指定されたペルソナに最も刺さる内容を検討し、必要であればPerplexityツールを使って追加調査を行ってください。最終的な構成案と下書きを生成してください。\n\n# 出力フォーマット\nMarkdown形式で、タイトル、ターゲット、目的、構成案（1枚目〜10枚目）、ハッシュタグ、キャプションを出力してください。"
        }
      },
      "id": "34df894a-bcb8-44e8-b415-033ff32c5374",
      "name": "Agent:ContentCreator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        480,
        1392
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3-flash-preview",
        "options": {}
      },
      "id": "6d56cbad-1bc1-4ce8-9c23-13f6821eda0d",
      "name": "LLM:GeminiFlash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        1568
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Ty6PashobXC2B9ky",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "perplexityApi",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {}
          ]
        }
      },
      "id": "49fe74a1-74f5-47d9-b6f0-31981b7948a0",
      "name": "Tool:Perplexity",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1216,
        1920
      ],
      "credentials": {
        "perplexityApi": {
          "id": "PJRD9PDEZYwhz8Sa",
          "name": "Perplexity account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "messages": {
          "message": [
            {
              "content": "=以下の検索クエリに基づいて調査してください。\n\n【検索クエリ】\n{{ $json.output.main_topic }}\nに合わせた補足事項を\n{{ $json.output.search_prompt }}\nを用いて検索\n\n【目的】\n\n・事実確認（最新情報を優先）\n・使い方 / 料金 / 注意点を投稿に使える形で整理\n・実際の利用者・レビュー・評価から\n  「肯定的な意見」と「否定的な意見」を整理\n\n【最新性の条件】\n\n・原則として直近6か月以内の情報を優先する\n・日付が確認できる場合は新しい情報を採用する\n・古い情報しかない場合は\n  「※最新情報は確認できず」と明記する\n\n【調査ルール】\n\n・公式情報、レビュー、比較記事、フォーラム等を参照\n・断定せず「〜という意見がある」という表現を使う\n・意見が見つからない場合は \"unknown\" とする\n",
              "role": "system"
            },
            {
              "content": "あなたは調査担当です。推測や意見は書かず、事実のみを簡潔にまとめてください"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.perplexityTool",
      "typeVersion": 1,
      "position": [
        624,
        1568
      ],
      "id": "63d76c86-226c-472c-ae64-de943a762065",
      "name": "Message a model in Perplexity",
      "credentials": {
        "perplexityApi": {
          "id": "PJRD9PDEZYwhz8Sa",
          "name": "Perplexity account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"pain_point\": {\n      \"type\": \"string\",\n      \"description\": \"読者が抱えている具体的な悩みや不満\"\n    },\n    \"misconception\": {\n      \"type\": \"string\",\n      \"description\": \"一般的に誤解されがちな認識や思い込み\"\n    },\n    \"hooks\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"description\": \"冒頭で注意を引く短いフック文\"\n      },\n      \"minItems\": 3,\n      \"maxItems\": 3\n    },\n    \"score_save\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 5,\n      \"description\": \"保存されやすさの評価\"\n    },\n    \"score_repro\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 5,\n      \"description\": \"再現性の高さの評価\"\n    },\n    \"score_novel\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 5,\n      \"description\": \"新規性・意外性の評価\"\n    },\n    \"search_prompt\": {\n      \"type\": \"string\",\n      \"description\": \"Perplexity AI に渡すための日本語検索プロンプト\"\n    },\n    \"score_relevance\": {\n      \"type\": \"integer\",\n      \"minimum\": \"0\",\n      \"maximum\": \"5\",\n      \"description\": \"関連があるかどうか\"\n    },\n    \"relevance_reason\": {\n      \"type\": \"string\", \n      \"description\": \"なぜそのスコアになったのかを説明する\"\n    },\n    \"main_topic\": {\n      \"type\": \"string\", \n      \"description\": \"この投稿で取り扱われている主題\"\n    }\n  },\n      \"persona_emotion\": {\n      \"type\": \"string\"\n    },\n    \"persona_concern\": {\n      \"type\": \"string\"\n    },\n  \"required\": [\n    \"pain_point\",\n    \"misconception\",\n    \"hooks\",\n    \"score_save\",\n    \"score_repro\",\n    \"score_novel\",\n    \"search_prompt\",\n    \"reason\",\n    \"main_topic\"\n  ],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -224,
        1712
      ],
      "id": "997e47dc-368a-4087-a932-689fb60aad95",
      "name": "Structured Output Parser"
    }
  ],
  "connections": {
    "Trigger:FormInputs": {
      "main": [
        []
      ]
    },
    "Set:NormalizeData": {
      "main": [
        [
          {
            "node": "Code:DedupeKey",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code:DedupeKey": {
      "main": [
        [
          {
            "node": "Lookup:ExistingIdea",
            "type": "main",
            "index": 0
          },
          {
            "node": "Logic:MergeNew",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Lookup:ExistingIdea": {
      "main": [
        [
          {
            "node": "Logic:MergeNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append:InitialIdea": {
      "main": [
        [
          {
            "node": "Set:PersonaData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get:RowData": {
      "main": [
        [
          {
            "node": "Limit:1Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic:MergeNew": {
      "main": [
        [
          {
            "node": "Append:InitialIdea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit:1Item": {
      "main": [
        [
          {
            "node": "Set:NormalizeData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get:RowData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update:StatusNew": {
      "main": [
        [
          {
            "node": "Slack:LowQualityNotify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic:CalcScore": {
      "main": [
        [
          {
            "node": "Gate:ScoreCheck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate:ScoreCheck": {
      "main": [
        [
          {
            "node": "Agent:ContentCreator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update:StatusNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update:StatusTriage": {
      "main": [
        [
          {
            "node": "Set:CarouselData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set:PersonaData": {
      "main": [
        [
          {
            "node": "Gemini:PersonaInsight",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser:Insight": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini:PersonaInsight",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini:PersonaInsight": {
      "main": [
        [
          {
            "node": "LLM:EditorScoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM:EditorScoring": {
      "main": [
        [
          {
            "node": "Logic:CalcScore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set:CarouselData": {
      "main": [
        [
          {
            "node": "Update:StatusComplete",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack:SuccessNotify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM:PersonaInsight": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini:PersonaInsight",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter:Chat": {
      "ai_languageModel": [
        [
          {
            "node": "LLM:EditorScoring",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ErrorTrigger:Global": {
      "main": [
        [
          {
            "node": "Slack:ErrorNotify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent:ContentCreator": {
      "main": [
        [
          {
            "node": "Update:StatusTriage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM:GeminiFlash": {
      "ai_languageModel": [
        [
          {
            "node": "Agent:ContentCreator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool:Perplexity": {
      "ai_tool": [
        []
      ]
    },
    "Message a model in Perplexity": {
      "ai_tool": [
        [
          {
            "node": "Agent:ContentCreator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "LLM:EditorScoring",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f07a7db4ed93e66e1e2d66a6dbb1b6f58e75dce88c79ca591af68b50df82ee3f"
  }
}
