Practice/rss/Practice0117 Rss feed to Slack.json
{
  "name": "Practice0117 Rss feed to Slack",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        -96
      ],
      "id": "b9bb8029-4c7e-403a-b2d4-2ee8a0697596",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31f98b63-8758-45a0-a65b-008941ba05f0",
              "name": "trendsRssUrl",
              "value": "https://trends.google.co.jp/trending/rss?geo=JP",
              "type": "string"
            },
            {
              "id": "b81149e8-9942-4e0b-beeb-5f6ef5a0b20b",
              "name": "slackChannel",
              "value": "#ニュース通知",
              "type": "string"
            },
            {
              "id": "05e9c6ac-81c1-4945-93a8-20373df5abdb",
              "name": "googleNewsRssUrl",
              "value": "https://news.google.com/rss?hl=ja&gl=JP&ceid=JP:ja",
              "type": "string"
            },
            {
              "id": "f1cc9a30-2ecf-4b39-b0b2-7a5d1f2d311c",
              "name": "noteRssUrl",
              "value": "https://note.com/soh_ainsight/rss",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -96
      ],
      "id": "330703cc-e361-4e0c-95e9-c32f4c83ce2f",
      "name": "Workflow Configuration"
    },
    {
      "parameters": {
        "url": "={{ $json.noteRssUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        272,
        -96
      ],
      "id": "3e3277fe-6043-4185-b8e3-ebcc37b61692",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        -96
      ],
      "id": "ca8ea621-aaf5-4ff1-aafe-2b0b782189fa",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bd2f7622-e30f-4eb2-9b4a-b04faaaeaa00",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "6385d27f-9f3d-4bc8-afcb-266e5d77aece",
              "name": "content-snipet",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "317cac66-2884-4be7-87fc-f309de59ee4f",
              "name": "publishTime",
              "value": "={{ $json.isoDate }}",
              "type": "string"
            },
            {
              "id": "66930c7c-9e51-45a2-a230-7a81807c4f6e",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "b8e6b9db-6dd2-4333-8caa-a700ca1864e7",
              "name": "description",
              "value": "={{ $json.contentSnippet }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        -96
      ],
      "id": "0284a0a8-2b46-4a61-9065-e52da781ff20",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Workflow Configuration').item.json.slackChannel }}",
          "mode": "name"
        },
        "text": "=📢 **本日の注目ニュース（※AIとは無関係です）**\n\n━━━━━━━━━━━━━━━━  \n📰 **タイトル**  \n{{ $json.title }}\n\n━━━━━━━━━━━━━━━━  \n📝 **概要**  \n{{ $json.description }}\n\n━━━━━━━━━━━━━━━━  \n🔗 **詳細はこちら**  \n{{ $json.link }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        880,
        -96
      ],
      "id": "5f263486-e0c6-4bce-a5a7-a3c122b9c7ab",
      "name": "Send to Slack",
      "webhookId": "be3486c2-3916-42eb-94b4-17422a64355b",
      "credentials": {
        "slackApi": {
          "id": "BrAdrR4v2B3hQpFR",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Send to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "203d1f5d-00c2-4c37-8a58-9240757d574a",
  "meta": {
    "instanceId": "f07a7db4ed93e66e1e2d66a6dbb1b6f58e75dce88c79ca591af68b50df82ee3f"
  },
  "id": "wi5phQBhQEG3Y07D",
  "tags": [
    {
      "updatedAt": "2026-01-12T09:03:32.599Z",
      "createdAt": "2026-01-12T09:03:32.599Z",
      "id": "WuNyeU1duy4iNUW5",
      "name": "Slack"
    },
    {
      "updatedAt": "2026-01-17T00:29:24.582Z",
      "createdAt": "2026-01-17T00:29:24.582Z",
      "id": "akfgX72xQxlUgBJd",
      "name": "Rss"
    }
  ]
}
